*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x:hidden;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: underline;
}

.container{
  position:relative;
  min-height: 100vh;
  background: pink;
}

.container h1{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding: 20px 0;
  color: #043e94;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container .image-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  justify-content: center;
  padding:10px;
}

.container .image-container .image{
  height:250px;
  width:350px;
  border:10px solid #cff1c5;
  box-shadow: 0 5px 15px rgba(0,0,0,1);
  overflow:hidden;
  cursor: pointer;
}

.container .image-container .image img{
  height:100%;
  width:100%;
  object-fit: cover;
  transition: all 0.3s ease;
  
}
 
.container .image-container .image:hover img{
  transform: scale(1.1);
}

.container .popup-image{
  display: none;
  position: fixed;
  top:0; left:0;
  background: rgba(0,0,0,.9);
  height: 100%;
  width:100%;
  z-index: 100;
}

.container .popup-image span{
  position: absolute;
  top: 0px; right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.container .popup-image img{
  position: absolute;
  left:50%; top:50%; 
  transform: translate(-50%,-50%);
  border: 5px solid #fff;
  border-radius: 6px;
  width: 750px;
  object-fit: cover;
}

@media(max-width: 768px){
  .container .image-container .image{
    height:200px;
    width:300px;
  }
  
  .container .popup-image img{
    width: 500px;
  }
}


/* 
*/