*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x:hidden;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: underline;
  padding: 1rem;
}

.header-subtitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;     
  font-family: cursive;
  color:#043e94;
  margin-top: 20px;
}

.container{
  position:relative;
  text-align: center;
  min-height: 100vh;
  background: pink;
}

.container h1{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding-top: 20px 0;
  color: #043e94;
  font-family: cursive;
}

.container .image-container{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  justify-content: center;
  padding:10px;
}

.container .image-container .image-logo-container{
  height:250px;
  width:350px;
  overflow:hidden;
  cursor: pointer;
}

.container .image-container .image-logo-container img{
  height:100%;
  width:100%;
  object-fit: cover;
  transition: all 0.3s ease;
  
}
 
.container .image-container .image-logo-container:hover img{
  transform: scale(1.1);
}

.container .popup-image {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
}

.container .popup-image span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.esc-content{
  display: grid; 
  font-size: 20px; 
  color: #fff; 
  z-index: 100;
}

#escape-button{ 
  margin-top: 3rem;
  font-size: 20px; 
}

.container .popup-image img {
  max-width: 90%;
  max-height: 90%;
  border: 5px solid #fff;
  border-radius: 6px;
  object-fit: contain;
}

@media(min-width: 768px){
  .modal{
    max-width: 80%;
  }
}

  
@media(max-width: 768px){
  .container .image-container .image-logo-container{
    height:200px;
    width:300px;
  }
  
  .container .popup-image img{
    width: 500px;
  }
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.image-logo-container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
} 
 
.image-logo{
  position: absolute;
  top: 0;  right: 0;  
  width: 13%;
  height: 22%; 
}

.image-content{
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  
}

.description {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 0.5rem;
}

.description-title{
  margin-left: 0.7rem;
  font-size: 1.09rem;
}

.button-container {
  margin-left: auto; 
}

[id^="info-button-"] {
  font-size: 15px;
  background-color: #1D53A0;
  color: white;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 5px;
}

[id^="info-button-"]:hover {
  background-color: #427bcf;
  color: white;
  cursor: pointer;
}

[id^="info-button-"]:active {
  background-color: pink;
  color: black;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 999;
}

.modal {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  max-width: 90%;
  max-height:90%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
  overflow-y: auto; 
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  float: center;
  font-size: 1.7rem;  
  padding:0;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: #c523aa;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-body h3{
  color: #c523aa;
  font-size: 1.4rem;

}

.modal-body ul {    
  margin-top: 1.02rem;
  color: #053692;
  list-style-type: square;
  padding-left: 1rem;
  text-align: left;
  font-size: 12px;
}

.restricted-container{
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

li{
  font-size: 0.78rem;
  margin-bottom: 0.31rem;
}

li:hover{
  color: white;
  background-color: #0f228b;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  padding: 8px 16px;
  background-color: #1D53A0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

close-button:hover {
  background-color: #427bcf;
  color: white;
  cursor: pointer;
}

.close-button:active {
  background-color: pink;
  color: black;
}

#request-access{
  color: #023378;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 5px;
}

.project-status{
  display: none;
}

.footer {
  background-color: #71595d;
  color: #fff;
  margin-top: 1.5rem;
  padding: 20px;
  text-align: center;
}

.footer-message {
  margin-bottom: 1rem;
  font-size: 18px;
}


.footer-icons {
  font-size: 24px;
}

.footer-icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-icons a:hover {
  color: #d578e7; 
}

@media (min-width: 700px) {
  li{
    font-size: 1.12rem;
  }

}

@media (max-width: 768px) {
  .container h1 {    
    font-size: 1.98rem;
  }

  .header-subtitle{
    font-size: 1.5rem;    
  }

  .footer-message{
    font-size: 1rem;    
  }
}

@media (max-width: 480px) {
  .container h1 {    
    font-size: 1.6rem;
  }

  .header-subtitle{
    font-size: 1rem;    
  }

  
  .footer-message{
    font-size: 0.8rem;    
  }
}